# ================================================
# Spirit in Physics - Project Environment Variables
# ================================================

# ================================================
# Hume AI API Configuration
# ================================================
export HUME_API=q0nGzfOSBZB4D0HbdZorGxek3wXz5O4XpTG8IkEJ0gY8Wlet
export HUME_API_KEY=LYSOLhalcwGNDdqxtlZOE4172bXGTzg0VxV30BatjXJPUtAULQ6ZoZmyBVTQE19s

# ================================================
# Neo4j Configuration
# ================================================
export NEO4J_URI=neo4j://localhost:7687
export NEO4J_USER=neo4j
export NEO4J_PASSWORD=neo4jpassword
export NEO4J_DATABASE=neo4j


# ================================================
# OpenAI Configuration
# ================================================
export OPENAI_API_KEY=sk-proj-rfRu65DP0hu4cRFm-zGtcj2YMzIq-ee-czSEdj8HTS4L_Y19AdaSb3eShPi9HfDWCs3gUSAZKRT3BlbkFJIfzO3yJjceL1fU5YUnQV_v7DIfqqNDNVZqjUbFa3mJxoRaieq_VV1mFd4COMjJdn_8zXsDGgA

# ================================================
# Vercel Blob Configuration
# ================================================
export BLOB_READ_WRITE_TOKEN="vercel_blob_rw_kOSV1afs1N9Zpomr_FMp7hhsHibyE2QOJNEsMR0GiQJPvwu"
