# Dependencies
node_modules

.pnp
.pnp.js
.yarn/install-state.gz

# pnpm
.pnpm-debug.log
pnpm-lock.yaml

# Testing
coverage
.nyc_output
test-results
playwright-report/

# Next.js
.next
build
dist

# python
venv
__pycache__

# Dev Containers
.devcontainer/.gradle
.devcontainer/node_modules