{:deps {io.github.com-junkawasaki/langgraph-clj {:local/root "../../langgraph-clj"}
        io.github.kotoba-lang/process {:local/root "../../../kotoba-lang/process"}}
 :paths ["src"]
 :aliases
 {:dev {:override-deps {io.github.com-junkawasaki/langchain-clj
                        {:local/root "../../langchain-clj"}}}
  :run {:main-opts ["-m" "spirit.graph"]}}}
